<div id="experience" class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="mx-2 my-1">
                    <h6>Research Experience</h6>
                    <ul class="list-unstyled mb-0">
                        {% for item in site.data.profile.experience %}
                        <li class="media mb-2 pb-2 border-bottom border-gray">
                            {% if item.logo %}
                                <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 22px; height: 22px; object-fit: contain;" class="mr-2 mt-1">
                            {% endif %}
                            <div class="media-body">
                                <div>{% if item.url %}<a target="_blank" rel="noreferrer" href="{{ item.url }}">{{ item.name }}</a>{% else %}{{ item.name }}{% endif %}</div>
                                <div class="small d-flex">
                                    <div>{{ item.position }}</div>
                                    <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                </div>
                                {% if item.dept %}<div class="small text-muted">{{ item.dept }}</div>{% endif %}
                                {% if item.supervisor %}
                                <div class="small">Supervisor:
                                    {% if item.supervisor_url %}<a target="_blank" rel="noreferrer" href="{{ item.supervisor_url }}">{{ item.supervisor }}</a>{% else %}{{ item.supervisor }}{% endif %}
                                </div>
                                {% endif %}
                                {% if item.details %}
                                <ul class="small text-muted mb-0 pl-3 mt-1">
                                    {% for detail in item.details %}
                                    <li>{{ detail }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
